.loader-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 49.8;
    background-color: #e4f3fc;
    opacity: 0.8;
}
/*
 *  Usage:
 *
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
 *
 */
.sk-chasing-dots {
  top: 50%;
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #008641;
    border-radius: 100%;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    animation-delay: -1s; }

@keyframes sk-chasingDotsRotate {
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
